
<div class="container" id="addRecordElement">
    <div class="row pt-3">
        <div class="col-4 offset-4">
            <button routerLink="/policyList" class="btn btn-warning"><i
                    class="fa fa-arrow-circle-left text-light"></i>&nbsp;&nbsp;Back</button>
        </div>
    </div>
    <div class="row  pt-5">
        <div class="col-4 offset-4">
            <h4 class="pb-3" id="formHeading"></h4>
            <form name="polForm" id="polForm" autocomplete="off" [formGroup]="newPolicyForm" (ngSubmit)="addPolicy()">
                <div class="mb-3">
                    <label for="policyid" class="form-label">Policy Id<span
                            class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="policyId"  formControlName="id" required>
                </div>
                <div class="mb-3">
                    <label for="policyNo" class="form-label">Policy Number<span
                            class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="policyNo"  formControlName="policyNo" required>
                </div>
                <div class="mb-3">
                    <label for="holName" class="form-label">Policy Holder's Name<span
                            class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="holName" formControlName="policyHolderName" required>
                </div>
                <div class="mb-3">
                    <label for="polAmt" class="form-label">Policy Amount<span class="text-danger">*</span></label>
                    <input type="currency" class="form-control" id="polAmt" formControlName="policyAmt" required>
                </div>
                <div class="mb-3">
                    <label for="emiAmt" class="form-label">EMI Amount<span class="text-danger">*</span></label>
                    <input type="currency" class="form-control" id="emiAmt" formControlName="emiAmount" required>
                </div>
                <div class="mb-3">
                    <label for="nomName" class="form-label">Nominee Name<span class="text-danger">*</span></label>
                    <input type="currency" class="form-control" id="nomName" formControlName="nomineeName" required>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>